:root {
    --primary-color: #0056b3;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes letterSpacing {
    from {
        opacity: 0;
        letter-spacing: 0;
    }
    to {
        opacity: 1;
        letter-spacing: var(--letter-spacing);
    }
}

/* Overlay */
.overlay {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 100;
}

.overlay-content {
    position: fixed; 
    width: 100%;
    top: 100px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 100;
}

#imgBig {
    width: 100%;
    max-width: 600px;
    cursor: pointer;
}