/* Header */
.header {
    background-image: linear-gradient(to bottom , white, rgb(117, 114, 114));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 2px solid var(--border-color);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0;
}

.header-menu {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-logo__link {
    color: transparent;
    text-decoration: none;
}

.header-logo__img {
    width: 42px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-logo__img:hover {
    cursor: pointer;
    filter: opacity(0.7);
}

.header-list {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
}

.header-item {
    padding-left: 0;
    list-style: none;
    font-weight: 600;
}

.header-item__link {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
    margin: 0 5px;
    font-size: 1.6rem;
    text-transform: uppercase;
}

span.header-item__link:hover .header-item__list {
    display: block;
}

.header-item__link:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header-item__link:hover .header-item__arrow {
    border-color: var(--primary-color) transparent transparent transparent;
}

.header-item-wrap {
    position: relative;
}

.header-item__arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-20%);
    border-width: 4px;
    border-style: solid;
    border-color: var(--black-color) transparent transparent transparent;
}

.header-item__list {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    list-style: none;
    padding: 5px 10px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    animation: fadeIn ease-in 0.3s;
    cursor: default;
    display: none;
}

.header-item__item {
    padding: 5px 0;
}

.header-item__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    text-transform: capitalize;
}

.header-item__item-link:hover {
    color: var(--primary-color);
}

.header-item__noticed {
    position: absolute;
    top: -10px;
    right: -3px;
    padding: 2px;
    font-size: 1rem;
    font-weight: 600;
    transform: scale(0.7);
    font-family: "Roboto", sans-serif;
    border-radius: 6px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.8);
    color: var(--white-color);
}

.header-search {
    width: 300px;
    height: 26px;
    display: flex;
}

.header-search__input {
    flex: 1;
    font-size: 1.4rem;
    color: var(--text-color);
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding-left: 10px;
}

.header-search__btn {
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 10px;
    width: 40px;
    display: block;
}

.header-search__btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header-search__btn i {
    color: var(--text-color);
    font-size: 1.2rem;
}

.header-menu-bar {
    display: none;
}

.header-menu-bar__btn {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 22px;
    display: block;
}

.header-menu-bar__btn i {
    color: var(--text-color);
    font-size: 1.2rem;
}

/* App container */

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    background-color: var(--black-color);
    margin: 0 16px;
}

.banner__img {
    width: 950px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Title */
.title {
    text-align: center;
    margin-top: 40px;

}

.title__heading {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 8px;
    font-weight: 600;
    text-transform: uppercase;
}

/* News */
.news {
    margin: 40px 0;
}

.news__title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.news-card-wrap {
    margin-top: 40px;
}

.news-card {
    overflow: hidden;
    height: 280px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    margin-bottom: 20px;
}

.news-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.news-card__link {
    text-decoration: none;
}

.news-card__link:hover .news-card__heading {
    color: var(--primary-color);
}

.news-card__img {
    width: 100%;
    height: 175px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.news-card__body {
    padding: 10px;
    color: var(--text-color);
}

.news-card__heading {
    font-size: 1.4rem;
    font-weight: 550;
    color: var(--text-color);
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-card__desc {
    font-size: 1.2rem;
    padding-top: 10px;
    line-height: 1.6rem;
    height: 5.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

/* About */
.about {
    margin: 40px 0;
}

.about__title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.about-wrap {
    margin-top: 40px;
}

.about__content {
    height: 100%;
    padding: 15px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color);
    background-color: rgba(204, 204, 204, 0.3);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.about__content-paragraph::first-letter {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
}

.about__content-paragraph:not(:first-child) {
    margin: 15px 0;
}

.about__picture {
    height: 100%;
}

.about__img {
    width: 100%;
    padding: 10px 4px;
    background-color: rgba(204, 204, 204, 0.3);
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

/* Character */
.character {
    margin: 40px 0;
}

.character__title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.character-wrap {
    margin-top: 40px;
}

.character-content {
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
    margin-bottom: 20px;
}

.character-content:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.character-content__link {
    text-decoration: none;
}

.character-content__link:hover .character-content__name {
    color: var(--primary-color);
}

.character-content__img {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.character-content__body {
    padding: 10px;
    text-align: center;
    color: var(--text-color);
}

.character-content__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
}

/* Footer */
.footer {
    background-color: rgba(204, 204, 204, 0.3);
    border-bottom: 2px solid var(--border-color);
}

.footer-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    color: var(--text-color);
}

.footer-contact__heading {
    font-size: 1.6rem;
    font-weight: 500;
}

.footer-contact__socials {
    margin-top: 20px;
}

.footer-contact__socials-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 0 8px;
}

.footer-contact__socials-link:hover {
    color: var(--primary-color);
}

.footer-contact__copyright {
    margin-top: 20px;
    font-size: 1.4rem;

}